<template>
    <div class='formContainer'>
        <div class='welcome' >
          <h1>Welcome!</h1>
          <h2>Lets find city's forecast</h2>
        </div>
        <form autocomplete='off' @submit.prevent="getResults">
            <input type='text' id='city' class='form-control' placeholder='Add city name here...' v-model='formData.city' />
            <button class='btn btn-lg  btn-outline-primary'><span>&#8594;</span></button>
        </form>
        <div id='error' v-if="error">Please add city name first</div>
    </div>
</template>

<script>
import http from '../redirect'; //import and setup axios
export default {
  data () {
    return {
      formData: { //store form data
        city: ''
      },
      apiRes:{}, //stores API response
      error: 0, //error check
      isDay:true //check if day in city
    }
  },
  methods: {
    getResults () {
      if(this.formData.city === '' ) return this.error = 1 //make city input required
      
      http.post('/get',this.formData).then(response => { //post form data to API for responce
        this.apiRes = response.data
        if(this.apiRes.statuscode==200){
            this.apiRes['isDay'] = this.checkDay() //add day check in api response
            this.apiRes['cityTimeData'] = this.getCityTimeData(this.apiRes.timezone) //add timezone in api response
        }
        this.$emit('formResult', this.apiRes) //send reponse back to the parent component     
      })
    },
    checkDay () { //check day function
       return  this.apiRes.weather[0].icon.includes('n') ? false : true
    },
    getCityTimeData(tz){ //get city time and timezone difference
      var now = new Date(); //get todays date
      var nowUtc = new Date(now.toUTCString().slice(0, -4)); //get UTC date
      var date = new Date(nowUtc.getTime() + (tz*1000)); //added timezone from api in milliseconds (*1000)
      
      var diff = Math.abs(now.getTime() - date.getTime())  //find the diifference between today and city's time in ms
          diff = new Date(diff).toISOString().slice(11, -1); //get date object from differnce timestamp

      return {
                'diff':diff.substr(0,5), //return time difference to display
                'day':date.toLocaleString('en-us', {weekday: 'long'}),  //return day to display
                'time': ('0'+date.getHours()).substr(-2)+':'+('0'+date.getMinutes()).substr(-2)} //return time in the city to display
              }
  },
  mounted () {
    console.log('Component mounted.')
  }
}
</script>

<style scoped>
    input{ display: inline-block; height: 80px; padding: 5px 30px; border-radius: 50px;width: 70%; max-width: 650px; color: #0d6efd;}
    input:focus{color: #0d6efd;}
    button{ height: 48px; display: inline-block;vertical-align: top;font-size: 16px;border-radius: 50px; margin-left: -70px;background: #fff;margin-top: 15px;position: relative;width: 50px;}
      button span{font-size: 31px;  font-weight: bold;position: absolute; top: -1px; left: 9px;}
    .error{ margin-top: 10px; color: #0d6efd; }
    
    .welcome{margin-bottom: 90px;}
      .welcome h1{ color: #0d6efd;}
      .welcome h2{margin-top: -10px;font-size: 24px;}
    
    .formContainer{text-align: center; margin-top: 110px;}

    #inputWrapper{width:50%;display: inline-block; position: relative;}

    #citiesDrop{position: absolute; text-align: left; width: 100%; z-index: -1;padding-top: 15px; border: 1px solid #CCC; border-radius: 0px 0px 10px 10px;}
        #citiesDrop div { padding: 10px; border-bottom: 1px; border-style: solid; border-color: #ccc; transition:all 300ms; cursor: pointer; }
        #citiesDrop div:hover{border-color: #3490dc; color:#3490dc}
</style>
