<template>
    <div>
        <div class="header">
            <div class="float-start fw-bold">Temp<span class='arrow'>></span>pp</div>
            <button class="float-end btn btn-primary float-end shadow" @click="openApi()">Access API</button>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Head',
  methods:{
      openApi: function(){ //function to open API URl in new tab to access the backend API
            window.open('http://localhost:3000/api/ow/get?city=','_blank')
      }
  }
}
</script>

<style scoped>
.header{background:#FFF;padding: 20px 20px;display: inline-block; width: 100%; border-bottom: 1px solid #e1e1e1;}
    button{font-size: 14px;}
    .arrow{ transform: rotate(-90deg);display: inline-block; font-weight: bold; color: #0d6efd; font-size: 18px;    margin-left: 3px;
    margin-right: -1px; }
</style>