<template>
    <div>
      <Form @formResult="displayOutput($event)"></Form>
      <Result :results="results"></Result>
    </div>
</template>

<script>
import Form from './Form'
import Result from './Result'
export default {
  data () {
    return {
      results: {}
    }
  },
  components: {
    Form,
    Result
  },
  methods: {
    displayOutput (result) {
      this.results = result //gets the results from Form Component
    }
  },
  mounted () {
    console.log('Component mounted.')
  }
}
</script>
