<template>
    <div class='resultContainer'>
      <div v-if="results.statuscode==200" class="card tempCard"  :class="results.isDay ? 'day' : 'night'">
        <div  class="card-body">
          <div>
              <h5 class="card-title fs-2"> {{ results.name }}, {{ results.sys.country }} </h5>
              <div id="temp" class='temp'>
                <span>{{ parseInt(results.main.temp) }}</span><span>&#176; C</span>
                <p>{{ results.weather[0].description }}</p>
              </div>
          </div>
          <div id="humidity" class='temp small'>
              <span>{{ parseInt(results.main.humidity) }}</span><span> %</span>
              <p>Humidity</p>
          </div>

          <div id="feelsLike" class='temp small'>
              <span>{{ parseInt(results.main.feels_like) }}</span><span>&#176; C</span>
              <p>Feels like</p>
          </div>
          
          <h6 class="card-subtitle mb-2 text-muted"> {{ results.cityTimeData['day'] }} {{ results.cityTimeData['time'] }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Time difference: <b>{{ results.cityTimeData['diff'] }}</b></h6>
        </div>
      </div>
      <div v-else-if="results.statuscode && results.statuscode!=200">
        <div class='error'>Opps, {{ results.message }}</div>
      </div>
    </div>
</template>

<script>
export default {
  props: ['results'],
  mounted () {
    console.log('Component mounted.',this.results)
  }
}
</script>

<style scoped>
.resultContainer{display: flex; justify-content: center;}
  .tempCard{ width: 40%;margin-left: 20px; margin-top: 20px;border-radius: 10px; border: 0;min-height: 170px;}
  .tempCard.night{background:  #1d1f2f; color:#FFF;}

  .tempCard.day{background:  #c6dcfd;}
    .temp{position: absolute; font-size: 45px; letter-spacing: -3px; bottom: 0px;}
    .temp span:nth-child(2){position: relative; top: -25px; font-size: 22px; }
    .temp p{font-size: 14px;margin-top: -15px;letter-spacing: normal; font-style: italic;}
    .temp.small{ font-size: 25px; letter-spacing: -1px; bottom: 0px;}
    .temp.small p { font-size: 10px;letter-spacing: normal; margin-top: -10px;font-style: normal; }
      .temp.small span:nth-child(2){font-size: 12px; top: -15px;}
    #temp{ right: 20px;top: 5px; text-align: right;}
    #feelsLike{ right: 110px;}
    #humidity {right: 18px;}
    .error{padding: 20px; font-weight: bold; color: red;}
</style>
